@model HotelProject.Entitylayer.Concrete.Room
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Özüm Otel</title>

    <link rel="shortcut icon" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/images/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/aos.css">
    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/all.min.css">
    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/lightcase.css">
    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/flatpickr.min.css">

    <!-- main css for template -->
    <link rel="stylesheet" href="~/tavern-hotel/Tavern-buyerfile/tavern/assets/css/style.css">
</head>

<body>

    <!-- ===============>> Preloader start here <<================= -->
    <div class="preloader">
        <div class="loader"></div>
    </div>
    <!-- ===============>> Preloader end here <<================= -->
    <!-- ========== Header Section Starts Here========== -->
    @await Component.InvokeAsync("_NavbarPartial")
    <!-- ========== Header Section Ends Here========== -->
    <!-- ================> Page header start here <================== -->
    <section class="page-header bg--cover" style="background-image: url(https://sobekstonehouse.com/images/resim/2693-SOBEK-SEC%C4%B0LM%C4%B0S45.jpg);">
        <div class="container">
            <div class="page-header__content text-center">
                <h2>Service Details</h2>
                <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Service Details</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>
    <!-- ================> Page header end here <================== -->
    <!-- ========== service Details Section start Here========== -->
    <section class="service padding-top padding-bottom">
        <div class="container">
            <div class="room__wrapper">
                <div class="row g-5">                  
                        
                    <div class="col-lg-8">
                        <div class="service__details">
                            <div class="service__details-image">
                                <img src="@Model.ImageUrl" alt="service Image">
                            </div>
                            <div class="service__details-content">
                                                            


                                <div class="room__details-text ">
                                    <p style="font-weight: 600; color:black" >
                                       @Model.RoomTitle
                                    </p>
                                    <p>
                                        @Model.RoomDescription
                                    </p>
                                 @*   <p>
                                        Efficiently deliver fully tested web readiness viassi 241365 process improvements Energisticaly
                                        engagie potentialo ities
                                        multidisciplinary potentialities througheri wireless synergy Completely potentialities revolutionize
                                        world class ideas
                                        and customized leadership. Energistically utilize integrated potentialities scenarios after
                                        cuttingedge funcy tionalities
                                        Enthusiastically myocardinate sticky scenarios via proactive manufactured products.
                                    </p>*@
                                </div>
                                                   
                            </div>

                            <div class="gallery__grid-item">
                                <div class="gallery__grid-inner">
                                    <div class="gallery__grid-image">
                                        <img src="@Model.ImageUrl" alt="gallery image" class="m-3">
                                        <a href="@Model.ImageUrl" data-rel="lightcase" class="gallery__view-btn">
                                            <i class="fa-solid fa-expand"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="gallery__grid-item">
                                <div class="gallery__grid-inner">
                                    <div class="gallery__grid-image">
                                        <img src="@Model.ImageUrl2" alt="gallery image" class="m-3">
                                        <a href="@Model.ImageUrl2" data-rel="lightcase" class="gallery__view-btn">
                                            <i class="fa-solid fa-expand"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery__grid-item">
                                <div class="gallery__grid-inner">
                                    <div class="gallery__grid-image">
                                        <img src="@Model.ImageUrl3" alt="gallery image" class="m-3">
                                        <a href="@Model.ImageUrl3" data-rel="lightcase" class="gallery__view-btn">
                                            <i class="fa-solid fa-expand"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery__grid-item">
                                <div class="gallery__grid-inner">
                                    <div class="gallery__grid-image">
                                        <img src="@Model.ImageUrl4" alt="gallery image" class="m-3">
                                        <a href="@Model.ImageUrl4" data-rel="lightcase" class="gallery__view-btn">
                                            <i class="fa-solid fa-expand"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery__grid-item">
                                <div class="gallery__grid-inner">
                                    <div class="gallery__grid-image">
                                        <img src="@Model.ImageUrl5" alt="gallery image" class="m-3">
                                        <a href="@Model.ImageUrl5" data-rel="lightcase" class="gallery__view-btn">
                                            <i class="fa-solid fa-expand"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-8">
                        <aside>
                            <div class="widget widget-service">
                                <div class="widget__header">
                                    <h5>Amazing Servies</h5>
                                </div>
                                <div class="widget__content">
                                    <ul class="widget-service__list">
                                        <li class="widget-service__list-item">
                                            <a href="javascript:void();">
                                                <img style="width:40px;height40px" src="https://www.iconbunny.com/icons/media/catalog/product/3/0/3070.3-waiter-icon-iconbunny.jpg"
                                                     alt="Service Icon">
                                                <p>Restorant</p>
                                            </a>

                                        </li>
                                        <li class="widget-service__list-item active">
                                            <a href="javascript:void()">
                                                <img style="width:40px;height40px" src="https://png.pngtree.com/png-vector/20191105/ourlarge/pngtree-spa-and-massage-icon-png-image_1959494.jpg"
                                                     alt="Service Icon">
                                                <p>Sıpa</p>
                                            </a>

                                        </li>
                                        <li class="widget-service__list-item">
                                            <a href="javascript:void()">
                                                <img  style="width:40px;height40px" src="https://cdn.pixabay.com/photo/2013/07/12/14/43/pool-148659_1280.png"
                                                     alt="Service Icon">
                                                <p>Yüzme Havuzu</p>
                                            </a>

                                        </li>
                                        <li class="widget-service__list-item">
                                            <a href="javascript:void()">
                                                <img style="width:40px;height40px" src="https://e7.pngegg.com/pngimages/710/272/png-clipart-computer-icons-computer-font-gym-icon-text-logo.png"
                                                     alt="Service Icon">
                                                <p>Spor Salonu</p>
                                            </a>

                                        </li>
                                        <li class="widget-service__list-item">
                                            <a href="javascript:void()">
                                                <img style="width:40px;height40px" src="https://static.vecteezy.com/system/resources/previews/002/290/601/large_2x/wifi-isolated-icon-black-flat-free-vector.jpg"
                                                     alt="Service Icon">
                                                <p>Yüksek Hızlı Wifi</p>
                                            </a>

                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>

                          
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========== Room Details Section ends Here========== -->
    <!-- ========== Footer Section start Here========== -->
    @await Component.InvokeAsync("_FooterSection")
    <!-- ========== Footer Section ends Here========== -->
    <!-- scrollToTop start here -->
    <a href="#" class="scrollToTop"><i class="fa-solid fa-arrow-up"></i></a>
    <!-- scrollToTop ending here -->
    <!-- vendor plugins -->
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/flatpickr.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/all.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/swiper-bundle.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/aos.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/countdown.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/lightcase.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/purecounter_vanilla.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/kursor.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/progressbar.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/custom.js"></script>
<


        
    </section>
 
    <!-- ========== Room Details Section ends Here========== -->
    <!-- ========== Footer Section start Here========== -->

    <!-- ========== Footer Section ends Here========== -->
    <!-- scrollToTop start here -->
    <a href="#" class="scrollToTop"><i class="fa-solid fa-arrow-up"></i></a>
    <!-- scrollToTop ending here -->
    <!-- vendor plugins -->
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/flatpickr.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/all.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/swiper-bundle.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/aos.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/countdown.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/lightcase.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/purecounter_vanilla.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/kursor.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/progressbar.min.js"></script>
    <script src="~/tavern-hotel/Tavern-buyerfile/tavern/assets/js/custom.js"></script>
</body>

</html>



